# ============================
# Python / Build Artifacts
# ============================

*.pyc
*.so
*.cpp
*.lock
*.egg-info/
build/
dist/
.cache/
.tox/

# =======================
# Project-specific Files
# =======================

/other/
/private/
/pypirc

# ==================
# macOS System Files
# ==================

.DS_Store

# ==================
# Jupyter Notebooks
# ==================

.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# ======================
# Visual Studio Code
# ======================

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace