language: python
os:
  - linux
matrix:
  include:
  - python: 3.4
  - python: 3.5
  - python: 3.6
  - python: 3.7
    dist: xenial
    sudo: true
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install .
# command to run tests
script: 
  - python --version
  - python setup.py test